[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
"discord.py" = "==0.16.8"

[dev-packages]
neovim = "*"
versioneer = "*"

[requires]
python_version = "3.6"
